body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;}

.container {
    flex: 1 0 auto;

}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e5e5e5;
}

.card-body {
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}
.col-md-4 h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.col-md-4 ul {
    list-style-type: none;
    padding: 0;
}

.col-md-4 ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.col-md-4 ul li:last-child {
    border-bottom: none;
}

.col-md-4 ul li a {
    position: relative;
    color: #000;
    display: inline-block;
    text-decoration: none; /* Elimina el subrayado */

}
.col-md-4 ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%; /* Centra la línea */
    background-color: #000000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); /* Centra la línea */
}

.col-md-4 ul li a:hover {
    color: #000; /* Color de texto negro */
}

.col-md-4 ul li a:hover::before {
    visibility: visible;
    width: 100%;

}
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
    visibility: visible;
    width: 100%;
}